body {
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    background-image: url("https://www.mintlify.com/hero/bg-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.header-container {
    height: 65px;
    width: 80%;
    margin: 0;
    padding: 16px 24px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: transparent;
}

.nav-bar {
    height: 36px;
    display: flex;
    flex: 1;
    justify-content: center;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.list-item, a {
    list-style: none;
    text-decoration: none;
}

.header-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #fff;
}

.a-btn {
    display: flex;
    gap: 5px;
}

.btn {
    padding: 4.5px 12px;
    border: 2px solid white;
    border-radius: 25px;
}

#wordmark {
    height: 24px;
}

.a-2 {
    padding: 4px 12px;
}

.h1-heading-container {
    height: 403px;
    padding: 104px 0 96px;
    display: block;
    flex-direction: row;
}

#h1-heading {
    color: #fff;
    display: block;
    margin: 0;
    padding-right: 30%;
    padding-left: 30%;
    text-align: center;
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
}

#para-desc {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;
    padding-left: 33%;
    padding-right: 33%;
    margin: 24px 0 0;
}

.form-container {
    height: 43px;
    width: 344px;
    border: 2px solid #6CAFAC;
    background: rgba(255, 255, 255, 0.15);
    margin: 32px 0 0 35%;
    padding: 2px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

#input-form {
    display: grid;
    gap: 45px;
    align-items: center;
}

#mail-input {
    height: 32px;
    border: none;
    background: transparent;
    padding: 0;
    margin-right: 40px;
}

#start-btn {
    height: 33px;
    width: 94px;
    padding: 4.5px 12px;
    border-radius: 25px;
}

.img-container {
    display: flex;
    justify-content: center;
}


#quick-start-img {
    width: 1000px;
}

.logo-container {
    padding: 72px 32px 25px;
}

#logo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    align-items: center; 
}

.logo-item {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px; 
}

.logo-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

#text-container {
    height: 204px;
    padding: 48px 32px;
}

.text-content {
    display: block;
    text-align: center;
}

#heading-h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    color: #08090a;
}

#para-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #08090acc;
    padding-left: 25%;
    padding-right: 25%;
}

.card-container {
    margin: 0;
    padding: 0;
}

.llm-cards {
    height: 535px;
    color:#FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.llm-text-content {
    padding: 24px;
}

#llm {
    border: 2px solid #EEEEEE;
    border-radius: 20px;
}

#agent {
    border: 2px solid #EEEEEE;
    border-radius: 20px;
}

#topmost-llm {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #0c8c5e;
}

.llm-img {
    height: 250px;
    width: 500px;
}

.heading-h3 {
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
    color: #08090a;
}

.desc-llm {
    color: #08090acc;
    padding-right: 25%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}   

video {
    outline: none;       
    border: none;        
    box-shadow: none;    
    display: block;
}

.assitant-container {
    margin-top: 40px;
    border: 2px solid #EEEEEE;
    border-radius: 20px;
    height: 665px;
}

.assitant-text-content {
    margin: 6px 6px 0;
    padding: 48px 32px;
    display: block;
    text-align: center;
}

.desc-ass {
    padding-right: 27%;
    padding-left: 30%;
}

.enterprise {
    padding: 96px 0;
    margin: 0;
}

.enterprise-container {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.a-btn {
    display: flex;
    align-items: flex-end;
}

#enteprise-a-btn {
    margin: 122.4px 4px 0 0;
    padding: 7px 24px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background-color: #2C2D2D;
    border-radius: 25px;
    width: 214px;
    align-content: flex-end;
}

#topmost-enterprise {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #0c8c5e;
}

#heading-h3-enterprise {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    color: #08090a;
    padding-right: 30%;
}   

#desc-enterprise {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #08090acc;
}

.info-cards {
    display: flex;
    flex-direction: row;
    margin: 60px 0 24px 0;
    padding: 0 0 48px;
    gap: 40px;
}

#heading-h4 {
    margin: 32px 0 16px;
}

#info-text {
    padding-right: 20%;
}

#ant-img {
    width: 1200px;
    margin-bottom: 0;
}

.logo-container {
    padding: 72px 32px 25px;
}

#logo-grid-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center; 
}

.customer-cards {
    display: flex;
    justify-content: center;
    gap: 24px;              
    max-width: 1200px;
    margin: 0 auto;         
    padding: 0 20px;
}

.cust-heading {
    text-align: center;       
    max-width: 800px;         
    margin: 0 auto 60px auto; 
    padding: 0 20px;
}

#image-1, #image-2, #image-3 {
    flex: 1;                
    min-width: 300px;       
    display: flex;
    flex-direction: column;
}

#cust-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #08090acc;
    padding: 12px 0;
}

span {
    color: #0c8c5e;
}

.customer-cards img {
    width: 100%;
    height: 240px;          
    object-fit: cover;      
    border-radius: 12px;    
    margin-bottom: 20px;   
}


.customer-cards span {
    font-size: 16px;
    line-height: 1.5;       
    color: #334155;         
    font-weight: 400;
    display: block;
    margin-bottom: 8px;    
}

#heading-customers {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    color: #08090a;
    margin: 0;
    padding: 0;
}

#customers-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #08090acc;
    padding-right: 20%;
    padding-left: 10%;
    margin-left: 50px;
}

.carousel-nav {
    display: flex;
    justify-content: center; 
    gap: 16px;              
    margin-top: 40px;        
    padding-bottom: 40px;
}

.nav-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;      
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-btn svg {
    color: white;            
    width: 20px;
    height: 20px;
}

.nav-btn.prev {
    background-color: #808080;
}

.nav-btn.next {
    background-color: #000000; 
}
